{% extends 'templates/padre.html' %}

{% block content %}
  <!-- ProyectoCoder/proyectocoder/App1/templates/App1/padre.html -->
{% endblock %}

{% block content %}
<h1>Conversaciones</h1>
<ul>
{% for conversacion in conversaciones %}
    <li><a href="{% url 'mensajes' conversacion_id=conversacion.id %}">Conversación con {{ conversacion.participantes|join:", " }}</a></li>
{% endfor %}
</ul>
{% endblock %}
mensajes.html:
{% extends 'templates/padre.html' %}

{% block contenido_que_cambia %}
<h1>Conversación con {{ conversacion.participantes|join:", " }}</h1>
<ul>
{% for mensaje in mensajes %}
    <li>{{ mensaje.autor }}: {{ mensaje.texto }}</li>
{% endfor %}
</ul>
<form method="post" action="{% url 'enviar_mensaje' conversacion_id=conversacion.id %}">
    {% csrf_token %}
    <textarea name="texto"></textarea>
    <input type="submit" value="Enviar">
</form>

{% endblock %}