{% extends "App1/padre.html" %}

{% load static %}

{% block titulo %}
    <h1>Bienvenido al menú de Guitarristas!</h1> 
{% endblock %}

{% block contenido_que_cambia %}

    <h1>Rock&Roll!</h1>
    <form action="" method="post">
        <table>
            {{ form.as_table }}
            </table>
        {% csrf_token %} 
               <input type="submit" value="Agregar">
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
        </thead>
        <tbody>

            {% for guitarrista in guitarrista %}
            <tr>
                <td>
                    {{ guitarrista.id }}
                </td>
                <td>
                    {{ guitarrista.nombre }}
                </td>
                <td>
                    {{ guitarrista.apellido }}
                </td>
                <td>
                    <a class="btn btn-danger", href="{% url 'eliminarGuitarrista' guitarrista.id %}"> Eliminar </a>
                    <a class="btn btn-success", href="{% url 'editarGuitarrista' guitarrista.id %}"> Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}