{% extends "App1/padre.html" %}

{% load static %}

{% block titulo %}
    <h1 class="mb-5">Resultados de Busqueda!</h1> 
{% endblock %}

{% block contenido_que_cambia %}

{% if bandas %}

<h2>Listado de Bandas</h2>

<table>
    <thead>
       <tr>
         <th>Nombre</th>
      </tr>
   </thead>
   <tbody>
     {% for bandas in bandas %}
       <tr>
          <td>{{ bandas.nombre }}</td>
       </tr>
         {% endfor %}
    </tbody>
</table>

{% else %}

<h2>No se encontraron Bandas con ese nombre</h2>

{% endif %}

{% endblock %}