{% extends "App1/padre.html" %}

{% load static %}

{% block titulo %}
    <h1>Bienvenido al menú de Vocalistas!</h1> 
{% endblock %}

{% block contenido_que_cambia %}

    <h1>Rock&Roll!</h1>
    <form action="" method="post">
        {{ form.as_p }}
        {% csrf_token %} 
               <input type="submit" value="Agregar">
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
        </thead>
        <tbody>
            {% for vocalista in vocalista %}
            <tr>
                <td>
                    {{ vocalista.id }}
                </td>
                <td>
                    {{ vocalista.nombre }}
                </td>
                <td>
                    {{ vocalista.apellido }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}